<%# display navigation bar %>
<%= render 'layouts/navigation' %>

<%= render 'display' %>

<%# display data validation errors if they exist %>
<%= render 'layouts/validation_errors' %>


<div class="title">
    <%= link_to "Create a new search", new_user_search_path %>
</div>

<div class="page">
    <%# render partial for most recent search if redirected from a new search form %>
    <% if !request.referer.nil? %>
        <% if request.referer.include?("/searches/new") && !@recent_searches.nil? %>
            <%= render 'searches', searches: @recent_searches%>
        <% end %>
    <% end %>
</div>




