<%# <%= link_to "Your Profile", user_path(current_user) %>
<%# <%= link_to "Log out", "/logout", method: :delete %>
<%# <%= link_to "Start another search", new_user_search_path(current_user) %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#">Navbar</a> %>
  <%= link_to "ReSOurceful", user_searches_path(current_user), class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        <%# <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
      </li>
      <li class="nav-item active">
        <%= link_to "Log out", "/logout", method: :delete, class: "nav-link" %>
        <%# <a class="nav-link" href="#">Link</a> %>
      </li>
    </ul>
  </div>
</nav>

